img{
    width: 351;
    height: 113;
    text-align: center;   
    display: block;
    aspect-ratio: auto 351/113 ;
    margin: auto;
}

td{
    display: table-cell;
    vertical-align: inherit;
}

font{
    display: table-cell;
    background-color: #70CCC2;
    text-align: start;
    
}